.d-flex {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: calc(28px + 20px);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    border-bottom: 1px solid #EBE8F4;
}

.header__inner {
    justify-content: space-between;
    align-items: baseline;
    margin: 29px 0;
}

.logo {
    display: block;
    color: #22202E;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav {
    flex: 2;
}

.nav-list {
    justify-content: center;
    gap: 44px;
}

.nav-list__item a {
    color: #726E8D;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-list__item a:hover {
    color: #2A254B;
    transition: .35s;
}

.social {
    display: flex;
    gap: 16px;
}

.social__link {
    color: #2A254B;
    height: 16px;
    width: 16px;
}

.icon-cart {
    background-image: url('../img/shopping--cart.svg');
    background-repeat: no-repeat;
}

.icon-search {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
}

.icon-user {
    background-image: url('../img/user--avatar.svg');
    background-color: red;
    background-repeat: no-repeat;
}


.intro__title {
    margin-top: 80px;
    margin-bottom: 24px;
    color: #2A254B;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin: 8px 0;
}

.filter-secondary__description {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.select-form {
    padding: 12px 24px;
    border: none;

    color: #2A254B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.select-form option {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.select-form:hover {
    cursor: pointer;
}

.select-form:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

.catalog {
    margin-top: 28px;
}

.card:hover {
    transition: all .7s;
    outline: 1px solid #2A254B;
}

.card {
    height: 462px;
    width: 305px;
}

.card__img {
    width: 100%;
}

.card__title {
    margin-top: 24px;
    color: #2A254B;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.card__price {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.btn {
    display: block;
    padding: 16px 32px;
    border: none;
    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.btn-light {
    color: #2A254B;
    background-color: #F9F9F9;
}

.catalog__footer_btn {
    margin: 48px auto 40px;
}

.btn-light:hover {
    background-color: #726E8D;
    transition: .35s;
}

.btn-dark {
    color: #FFF;
    background-color: #2A254B;
    transition: .35s;
}

.btn-dark:hover {
    background-color: #4E4D93;
}

.about {
    position: relative;
}

.about::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/join-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about__title {
    padding-bottom: 21px;

    color: #2A254B;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__desc {
    color: #2A254B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.about__btn {
    position: absolute;
    margin-bottom: 70px;
    margin-left: 23px;
    bottom: 0;
}

.about__inner {
    margin-left: 50px;
    padding-top: 71px;
    height: 521px;
    position: relative;
    left: 50%;
    max-width: 1280px;
    width: calc(50% - 50px);
    z-index: 1;
}

.footer {
    background-color: #2A254B;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 58px 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu__title {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__item a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__item:hover a {
    color: #726E8D;
    transition: 0.35s;
}

.footer__map {
    display: block;
}

.copyright {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-down__wrap {
    position: relative;
    padding: 24px 0;
}

.footer-down__wrap::before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    background: #4E4D93;
    width: 100%;
    top: 0;
}

.footer-down__wrap {
    justify-content: space-between;
}

.social__list {
    gap: 24px;
    align-items: center;
}
